.main-body button
{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 5px 20px;
    background-color: #FFAE42;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
header{
    margin-bottom:30px;
}
.top-body
{
    margin-bottom:100px ;
    display: flex;
    justify-content: space-around;
}
.input-bar
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.input-bar input{
    border-bottom: 2px solid black;
}

input:focus{
    outline: none;
}
.card
{
    margin-left: 50px;
    margin-bottom: 30px;
    border: none;
}

.top-body a:hover {
  text-decoration: none;
  color: white;
}


.card-img-top{
    border: 3px solid #FFAE42;
    border-bottom: 0;
}

.card-body{
    border: 3px solid #FFAE42;
    border-top: 0;
    height: 180px;
    text-align: center;
}

.card-body h5{
     font-weight: 600;
}

.card-body a:hover{
    cursor: pointer;
    color: #C5E1E4;
    text-decoration: none;
}

