.main-body button
{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 5px 20px;
    background-color: #FFAE42;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
header{
    margin-bottom:30px;
}
.top-body
{
    margin-bottom:100px ;
}
.input-bar
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.input-bar input{
    border-top:none;
    border-left:none;
    border-right:none;
}
.input-bar input:hover{
    border-top:none;
    border-left:none;
    border-right:none;
}
input:focus{
    outline: none;
}
.card
{
    margin:10px;
}