.rounded-lg {
    border-radius: 25px !important;
    border-color: #ffae42;
    border-width: 1px;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }