* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
}
*
#right_most {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

#page {
  margin: 3%;
}

#profile {
  position: relative;
  top: 0;
  left: 0;
}

#img1 {
  position: relative;
  top: 0;
  left: 0;
  height: 276px;
  width: 100%;
  border-bottom: 4px solid #000000;
}

#img2 {
  position: absolute;
  top: 15px;
  left: 41%;
}

#name {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 75px;
}

#name span {
  font-size: 50px;
  font-weight: 500;
}
#buttons {
  display: flex;
  justify-content: center;
}

#message {
  font-size: 20px;
  padding: 5px 20px;
  background-color: #ffae42;
  border-radius: 20px;
}

#empty {
  margin: 0px 40px;
}

#more {
  font-size: 20px;
  font-weight: 500;
  padding: 6px 6px;
  border: 3px solid #ffae42;
  border-radius: 50%;
  background-color: transparent;
  color: #ffae42;
}

.firstChild {
    width: 80%;
    height: auto;
    margin: 270px 0px 40px 10%;
    margin-top: 270px;
    float: left;
    padding: 25px;
    border: 3px solid #ffae42;
    border-radius: 30px;
    text-align: center;
  }

  .firstChild.title {
    font-size: 35px;
    font-weight: 500;
  }
  
  .firstChild .text {
    font-size: 25px;
    line-height: 40px;
  }
  .text li{
    font-size: 30px;
    line-height: 25px;
  }

  .fwh {
  position: relative;
  height: 70vh;
  width: 100%;
  display: inline-block;
}
.children {
  width: 35%;
  height: auto;
  margin: 0px 0px 0px 10%;
  display: inline-block;
  padding: 25px;
  border: 3px solid #ffae42;
  border-radius: 30px;
  text-align: center;
}

a:hover{
  text-decoration: none;
  color:;
}

.title {
  font-size: 35px;
  font-weight: 500;
}

.children .text {
  font-size: 25px;
  line-height: 60px;
}

.text span {
  background-color: #ffae42;
  border-radius: 20px;
  padding: 5px;
  margin-left: 10px;
  text-align: center;
}
